*, body, html {
  padding:0;margin:0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size:12px;
}

/* Text inputs */
input {
  padding: 6px 8px;
  display: block;
  border:1px solid #eee;
  border-radius: 4px;
}


/* Header */
div.header {
  background:#3f51b5;
  font-weight:600;
  text-transform: uppercase;
  color:white;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
  padding:9px 12px;
  vertical-align: middle;
}

div.header i { font-size:1em; }

div.header img {
  position: relative;
  top: 3px;
}

div.header span {
  display: inline-block;
  line-height: 16px;
  padding-left: 3px;
}

div.search {
  background: #fafafa;
  padding:6px;
  position: relative;
}

div.search input {
  width: 80%;
  margin: 0 auto;
}

div.search:after {
  content: '🔍';
  position: absolute;
  top: 8px;
  right: 43px;
}

.footer {
  position: fixed;
  bottom: 0;
  padding:12px;
  background-color: #fafafa;
  width: 100%;
  border: 1px solid #eee;
}

.container {
  padding:0;
  min-height: 200px;
}

/* Lists*/

ul.playlists {
  width: 400px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
}

li.playlist {
  padding:12px;
  overflow: auto;
  background: white;
  border-bottom:1px solid #eee;
  transition: all 0.3s ease-out;
}

li.playlist:hover {
  background: #fafafa;
}

li.playlist div.info {
  float:left;
  max-width: 275px;
}

li.playlist h2 {
  line-height: 1.5em;
}

li.playlist a.link {
  outline: none;
  display: block;
  color: blue;
}

li.playlist .date {
  display: block;
  color: #aaa;
  margin-top:3px;
  font-size:0.85em;
  font-weight:400;
}

li.playlist .date span {
  font-size:1em;
}

li.playlist .buttons {
  float:right;
}

li.playlist .contents,
li.playlist .filter-match:not(:empty) {
  font-size:0.9em;
  clear: both;
  padding-top: 10px;
}

li.playlist .filter-match:not(:empty) {
  margin-top: 10px;
  display: inline-block;
  padding: 3px;
  background: #FFFFCA;
  color: #979E07;
}

li.playlist .filter-match span {
  font-style: italic;
  font-size:1em;
}

li.special-message,
li.special-message a {
  font-size: 2em;
  line-height: 1.35em;
  color: #efefef;
  text-shadow: 1px 2px 0px rgba(0,0,0,0.0);
  text-align: center;
  margin: 40px 20px;
}

li.special-message a {
  font-size: 1em;
  margin:0;
  text-decoration: underline;
}

li.special-message a:hover {
  color: #ddd;
}

/* The text input for the playlists title */
div.title {
}

div.title.edit {
  background: #eee;
  margin-bottom: 1em;
}

div.title input[name="title"] {
  display: none;
  min-width:150px;
  font-size: 0.9em;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

div.title button {
  display: none;
}

div.title.edit input[name="title"],
div.title.edit button {
  display: inline-block;
}

div.title.edit h2 {
  display: none;
}

button {
  border:0;
  background: transparent;
  color: #454548;
  padding:4px 12px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #eee;
  font-weight:600;
  font-size:0.8em;
  display: block;
}

.buttons button {
  float: left;
}

.buttons button:first-child {
  border-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.buttons button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

button:hover {
  color: #000;
  background: #eaeaea;
}

button.delete {
  color: #F44336;
}

button.delete:hover {
  background: #B71C1C;
  color: white
}

button.save-title {
  position: relative;
  top: -1px;
  outline: 0;
  height: 26px;
  background-color: white;
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button.save-title:hover {
  color: #000;
  background: #eaeaea;
}
